av
boto3
httpx
numpy
torch
scipy
regex
jinja2
litellm
fastapi
fastrtc==0.0.29
librosa
uvicorn
pathlib
argparse
tiktoken
requests
pynamodb
pyrnnoise
webrtcvad
soundfile
markupsafe
cachetools
silero_vad
noisereduce
onnxruntime
langchain_aws
langchain_core
huggingface-hub
opentelemetry-sdk
opentelemetry-api
pynamodb_attributes
fastrtc[vad,tts,stt]